* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary_background;
  background-image: url("../images/5594016.jpg");
  background-repeat: round;
  background-size: cover;
  background-attachment: fixed;
  &::-webkit-scrollbar {
    display: none;
  }
}

#home {
  width: 100vw;
  height: 100vh;
  background-color: $primary_background;
  background-image: url("../images/5594016.jpg");
  background-repeat: round;
  background-size: cover;
  background-attachment: fixed;
  #header {
    text-align: center;
    color: $primary_text;
    font-size: 1.2em;
    font-weight: bold;
    width: 100vw;
    height: 20vh;
    #city {
      border: 1px, solid $orange;
      border-radius: 10px;
      height: 40px;
      width: 300px;
    }
  }

  #map {
    position: relative;
    height: 73vh;
    width: 65vw;
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid $primary_text;
    border-radius: 15px;
    box-shadow:"rgb(199, 3, 3) 15px -15px 15px, rgb(199, 3, 3) -15px 15px 15px";
  }

  .about-city {
    position: relative;
    height: 73vh;
    width: 65vw;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 15px 30px 15px 30px;
    .score-paragraph {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      .score-elem {
        width: 100%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items:start;
        color: $primary_text;
        .score-name, .score-rating {
          color: $primary_text;
          width:33%
        }
        #div_color_container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 6px;
          .score-color{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            height: 15px;
          }
          .complement-div {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: lightgray;
            height: 15px;
          }
        }
      }
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 25px;
    }
  }

  .footer {
    position: fixed;
    width: fit-content;
    height:25px;
    color: rgb(112, 110, 110);
    border: 1px solid $orange;
    border-radius: 10px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 5px;
    top: 96vh;
  }

}

  /*-----------------------*/
  /* *** Media Queries *** */
  /*-----------------------*/
  @import "mobile";