* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  width: 100vw;
  height: 100vh;
  background-color: $primary_background;
  background-image: url("../images/5594016.jpg");
  background-repeat: round;
  background-size: cover;
  #header {
    text-align: center;
    color: $primary_text;
    font-size: 1.2em;
    font-weight: bold;
    width: 100vw;
    height: 20vh;
    #city {
      border: 1px, solid $orange;
      border-radius: 10px;
      height: 40px;
      width: 300px;
    }
  }

  #map {
    position: relative;
    height: 73vh;
    width: 65vw;
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid $primary_text;
    border-radius: 15px;
    box-shadow:"rgb(199, 3, 3) 15px -15px 15px, rgb(199, 3, 3) -15px 15px 15px";
  }

  .about-city {
    position: relative;
    height: 77vh;
    width: 80vw;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid $orange;
    border-radius: 15px;
  }

}