@media only screen and (min-width:701px) and  (max-width:900px) {
  #home {
    .about-city {
      .score-paragraph {
        .score-elem {
          .score-name {
            width: 55%;
          }
          .score-rating {
            width: 18%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:700px) {
  #home {
    #header {
      height: 30vh;
      #city {
        width: 200px;
      }
    }
    #map {
      height: 50vh;
      width: 80vw;
      margin-top: 20px;
    }
    .about-city {
      height: 70vh;
      width: 99vw;
      .score-paragraph {
        .score-elem {
          font-size: 15px;
          .score-name {
            width: 55%;
          }
          .score-rating {
            width: 18%;
          }
        }
      }
    }
  }
}

@media only screen and (max-height:600px) {
  #home {
    #header {
      font-size: 1em;
      h1 {
        margin: 0;
      }
    }
    #map {
      margin-top: 20px;
      height: 50vh;
      width: 80vw;
    }
  }
}